<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mxiaixy.mapper.DeviceWorkerTypeMapper">


    <select id="findAllWorkerType" resultType="com.mxiaixy.pojo.WorkerType">
        SELECT * from t_worker_type
    </select>
    <select id="findWorkerTypeById" resultType="com.mxiaixy.pojo.WorkerType">
        SELECT * from t_worker_type WHERE id = #{id}
    </select>
</mapper>